{#
/**
 * @file
 * Theme implementation for a 'webform_donate_elements' element.
 *
 * Available variables
 * - content: Content for element formatted in a table.
 * - content.items: Individual table rows
 * - attributes: A list of HTML attributes for the wrapper element.
 *
 */
#}
{#{{ devel_breakpoint() }}#}
<div class="webform-donate-elements-wrapper">
    <div{{ attributes.addClass(classes) }}>
        {{ children.frequency }}
        {{ children.amount }}
        {{ children.message }}
        {{ children.hero_image }}
        {{ children.amount_other_separate }}
    </div>
</div>
